@model Book_Store.Models.Book

<link rel="stylesheet" href="{/css/Detail}">
<div class="preview_main">
    <div class="preview_content">
        <!-- Begin New Product -->
        <div class="preview_top">
            <div class="clear"></div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <a <img src="@Model.Book_Image"></a>
                           </div>
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.Title</h3>
                        <h4 class="price">Price: <span>@Model.Book_Price</span></h4>
                        <h4 class="price">Price: <span>@Model.Book_Quantity</span></h4>
                        <h4 class="price">Price: <span>@Model.Author</span></h4>
                        <p class="product-description">Gifts details: @Model.Book_Description</p>
                        <p class="Key">
                            <strong>
                                KEY ATTRIBUTES : <br>
                                •	Jute Potli <br>
                                •	Pink Carnations (5 units) <br>
                                •	Purple Statice <br>
                                •	Blue Floral Printed Paper Bag <br>
                                •	Size : 25cm X 2.5cm X 25cm (l x b)
                            </strong>
                        </p>
                        <div class="buy">
                            <form method="get" action="{{asset('image/GiftDetail.docx')}}">
                                <button type="submit" class="btn btn-info">Download!</button>
                                <a type="submit" class="btn btn-info">Add to card</a>
                                <a type="submit" class="btn btn-info">Buy now</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>